@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.montserrat-underline {
    font-family: "Montserrat Underline", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .playwrite-hu {
    font-family: "Playwrite HU", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }
  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #444444;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #747474;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #363636;
}